main {
    & form {
        & .input-list {
            display: flex;
            gap: 1rem;
            
            & input {
                width: 28.187rem;
                height: 2.75rem;
                background-color: var(--background-secondary);
                padding-inline: 1.125rem;
                border: 2px solid var(--border-primary);
                border-radius: 0.75rem;
                outline: none;
            }

            & input::placeholder {
                font-family: var(--ff-inter);
                line-height: 1.4;
                font-size: 1rem;
                color: var(--content-tertiary);
            }

            & input:hover {
                border-color: var(--border-hover);
            }

            & input:focus {
                border-color: var(--color-brand);
            }

            & .btn-add-item {
                width: 10rem;
                background-color: var(--color-brand);
                border: none;
                border-radius: 0.75rem;
                color: var(--always-white);
                font-size: 1rem;
                font-weight: var(--fw-sb);
                transition: background-color 300ms ;
            }

            & .btn-add-item:hover {
                background-color: var(--color-brand-hover);
            }
        }

        & .shopping-list {
            display: grid;
            gap: 0.75rem;
            margin-top: 2.5rem;

            & .checkbox-wrapper {

                position: relative;
                height: 2.75rem;
                display: flex;
                gap: 0.75rem;
                align-items: center;
                background-color: var(--background-secondary);
                border-radius: 0.75rem;
                color: var(--content-secondary);
                padding-inline: 0.75rem;
                
                & [type="checkbox"] {
                    all: unset;
                    position: absolute;
                    inset: 0;
                    width: 93%;
                }
                
                & .checkbox-image {
                    width: 1rem;
                    height: 1rem;
    
                    background-image: url(../assets/icons/checkbox-default.svg);
                    background-repeat: no-repeat;
                    background-position: center;
                }

                & .delete-icon {
                    height: 2rem;
                    width: 2rem;
                    background-image: url(../assets/icons/delete.svg);
                    background-repeat: no-repeat;
                    background-position: center;
                }

                & label {
                    width: 33.187rem;
                }
    
                &:hover, &:focus-within {
                    cursor: pointer;
                }

                &:hover .checkbox-image {
                    background-image: url(../assets/icons/checkbox-hover.svg);
                }

                &:has(:checked) .checkbox-image {
                    background-image: url(../assets/icons/checkbox-selected.svg);
                }
            }
        }
    }
}